*{
    box-sizing: border-box;
}

body{
    background-color: rgb(161, 100, 223);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

