
*{
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eafbff;
    background-image: linear-gradient(
        
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
