
*{
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eafbff;
    background-image: linear-gradient(
        to bottom,
        #eafbff 0%,
        #eafbff 50%,
        #5290f9 50%,
        #5290f9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
